
export (GCluster)

export (tjGCluster)

export (tjGCluster2)

importFrom("EBImage", "readImage", "flip", "channel", "thresh")
importFrom("igraph", "graph_from_adjacency_matrix", "mst", "delete.edges", "components", "E", "cluster_louvain", "V")
importFrom("stats", "dist", "kmeans", "median", "hclust", "var", "cor", "pt")
importFrom("utils", "combn", "read.table", "head", "tail", "capture.output", "setTxtProgressBar", "txtProgressBar")
importFrom("MASS", "kde2d")
importFrom("mgcv", "in.out")
importFrom("grDevices", "rainbow", "xy.coords", "contourLines", "dev.list" ,"colorRampPalette", "rgb")
importFrom("graphics", "plot", "strheight", "strwidth", "text", "points", "segments", "image", "lines", "xspline", "par", "rect")
importFrom("randomForest", "randomForest")
importFrom("party", "cforest", "varimp")
importFrom("CORElearn", "attrEval")
importFrom("xgboost", "xgboost", "xgb.importance")
importFrom("Rtsne", "Rtsne")
importFrom("plotrix", "color.scale")

